---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import CardsSection from "../components/CardsSection.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
	<Navbar />
	<Hero />
	<CardsSection />
	<div class="h-screen"></div>
</Layout>
